asgiref==3.7.2
cffi==1.16.0
cryptography==42.0.5
Django==5.0.2
django-classy-tags==4.1.0
django-cms==4.1.0
django-cors-headers==4.3.1
django-formtools==2.5.1
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangorestframework==3.14.0
packaging==23.2
pycparser==2.21
pycryptodome==3.19.0
pycryptodome-test-vectors==1.0.13
pycryptodomex==3.19.0
PyMySQL==1.1.0
pytz==2024.1
setuptools==69.1.1
sqlparse==0.4.4
tzdata==2024.1
