.profile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    /* Adjust width as needed */
    height: 100vh;
    background-color: white;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-menu.show {
    transform: translateX(0);
}

.profile-menu .profile-links {
    padding: 20px;
}

.profile-menu .profile-links a {
    display: block;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.profile-menu .profile-links a:hover {
    color: #333;
}

.tabs {
    display: flex;
}

.tab-button.active {
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    /* Keep border color consistent with the active tab */
}

.tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #000000;
    border-bottom: none;
    background-color: #f0f0f0;
    /* Set background color for inactive tabs */
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #e0e0e0;
    /* Lighten the background color on hover */
}

.create-item-button {
    margin-left: 10px;
    /* Adjust margin-left */
}

.submit-button {
    margin-top: 10px;
}

.statistics-container {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.top-items ul {
    font-size: 16px; /* Adjust the font size for the menu item names */
}

.popular-hour p {
    font-size: 20px; /* Adjust the font size for the most popular hour */
}

.popular-hour-text {
    text-align: left;
    margin-left: 10px;
}