.card-container {
    flex: 0 0 30%; /* Adjust the width of each card */
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px; /* Add spacing between cards */
    padding: 16px;
    cursor: pointer;
    text-align: center; /* Center content horizontally */
}

.card-container:hover {
    transform: scale(1.05);
}